.horizontalScrollbarTrack {
  /* TODO: Allow overriding these. */
  --scrollbar-width: 3px;
  --scrollbar-color: rgba(255, 255, 255, 0.2);

  position: absolute;
  bottom: 0;
  height: var(--scrollbar-width);
  left: 0;
  right: 0;
  background: transparent;
  overflow: hidden;
  z-index: var(--tab-strip-scrollbar-z);
}

.horizontalScrollbarThumb {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.horizontalScrollbarThumb {
  background: var(--scrollbar-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

:global(*:hover) > .horizontalScrollbarTrack .horizontalScrollbarThumb {
  transition: opacity 200ms;
  opacity: 1;
}
