.tileLayout {
  display: flex;
  flex-direction: column;

  /* TODO: Are these needed? */
  position: relative;
  width: 100%;
  height: 100%;
}

.tileGroup {
  display: flex;
}

.tile,
.tileGroup {
  box-sizing: border-box;
  position: relative;
}

.tile {
  overflow: hidden;
}

.tileGroup.row > .tile {
  /* Dimensions are controlled by flex-grow. */
  width: 0;
}

.tileGroup.column > .tile {
  /* Dimensions are controlled by flex-grow. */
  height: 0;
}

.tile::after,
.tileGroup::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
}

.tileLayout.dragging .tile::after,
.tileLayout.dragging .tileGroup::after {
  transition: 200ms ease-out;
}

.tileLayout.dragging .dragging::after,
.tileLayout.dragging .draggingOtherTileOver::after {
  --movement-duration: 75ms;

  transition: opacity 200ms, top var(--movement-duration) ease-out,
    bottom var(--movement-duration) ease-out,
    left var(--movement-duration) ease-out,
    right var(--movement-duration) ease-out;
  opacity: 1;
}

.draggingOtherTileOver::after {
  background: rgba(0, 0, 0, 0.2);
}

.tileBorder {
  /* TODO: Allow overriding in JS */
  --thickness: 1px;
  --tolerance: 8px;
  background: black;
  position: relative;
}

.tileBorder.vertical::after,
.tileBorder.horizontal::after {
  content: ' ';
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  --size: calc(var(--thickness) + 2 * var(--tolerance));
  /* TODO: Do something more sensible here. */
  z-index: 1000;

  transition: 75ms ease-out;
}

.tileBorder.vertical::after {
  cursor: ew-resize;
  width: var(--size);
  transform: translateX(0.5px) translateX(-50%) scaleX(0.5);
  opacity: 0;
}

.tileBorder.vertical:hover::after {
  transform: translateX(0.5px) translateX(-50%);
  opacity: 1;
}

.tileBorder.vertical:hover:not(:active)::after {
  opacity: 0;
}

.tileBorder.horizontal::after {
  cursor: ns-resize;
  height: var(--size);
  transform: translateY(0.5px) translateY(-50%) scaleY(0.5);
  opacity: 0;
}

.tileBorder.horizontal:hover::after {
  transform: translateY(0.5px) translateY(-50%);
  opacity: 1;
}

.tileBorder.horizontal:hover::after,
.tileBorder.vertical:hover::after {
  background: rgba(0, 0, 0, 0.2);
}

.tileBorder.horizontal {
  height: var(--thickness);
  width: 100%;
}

.tileBorder.vertical {
  height: 100%;
  width: var(--thickness);
}

.top::after {
  bottom: 50%;
}

.bottom::after {
  top: 50%;
}

.left::after {
  right: 50%;
}

.right::after {
  left: 50%;
}

.dragging::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.tileDragHandle {
}
